name: Release Package

on:
  push:
    branches: [main]

permissions:
  id-token: write
  contents: write

jobs:
  build:
    strategy:
      matrix:
        version: [20, 22, 24]

    runs-on: ubuntu-latest
    name: Build Pull Request

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup NodeJS
        uses: actions/setup-node@v4
        with:
          registry-url: https://registry.npmjs.org
          node-version: ${{ matrix.version }}

      - name: Build Package
        run: |
          npm clean-install --ignore-scripts
          npm run build

  publish:
    runs-on: ubuntu-latest
    name: Publish Package
    needs: build

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup NodeJS
        uses: actions/setup-node@v4
        with:
          registry-url: https://registry.npmjs.org
          node-version: 24


      - name: Build Package
        run: |
          npm clean-install --ignore-scripts
          npm run build

      - name: Publish Package
        run: |
          VERSION="$(node -p 'require("./package.json").version')"

          test -z "$(git ls-remote --tags origin "v${VERSION}")" || {
            echo "Release ${VERSION} already tagged, exiting..."
            echo "::error::Release ${VERSION} already tagged"
            exit 1
          }

          npm publish

          git config user.email 'developers@juit.com'
          git config user.name 'Github Workflows'
          git tag -a -m "v${VERSION}" "v${VERSION}" "${{ github.sha }}"
          git push --tags

          gh release create "v${VERSION}" \
            --title "Release ${VERSION}" \
            --target "${{ github.sha }}" \
            --verify-tag
        env:
          GH_TOKEN: ${{ github.token }}

      - name: Send Email Notification
        if: ${{ !success() }}
        uses: dawidd6/action-send-mail@v6
        with:
          server_address: ${{ secrets.EMAIL_SERVER }}
          username: ${{ secrets.EMAIL_USERNAME }}
          password: ${{ secrets.EMAIL_PASSWORD }}
          secure: true
          convert_markdown: true
          from: GitHub Actions <developers+github@juit.com>
          to: Juit Developers <developers+github@juit.com>
          subject: "[${{ job.status }}] ${{ github.workflow }} in ${{ github.repository }}"
          body: |
            The GitHub Action "${{ github.workflow }}" in repository "${{ github.repository }}" ${{ job.status == 'cancelled' && 'was canceled' || 'has failed' }}.

            Build logs are available at ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}
          html_body: |
            The GitHub Action **`${{ github.workflow }}`** in repository **`${{ github.repository }}`** ${{ job.status == 'cancelled' && 'was **canceled**' || 'has **failed**' }}.

            Build logs are available _[here](${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }})_.
